
#main {

    max-width: 1100px;
    height: 600px;
    margin: 30px auto;
    position: relative;
    z-index: 0;

}
h1{
    font-size: 16pt;
    text-align: center;
}

.login {
    width: 39%;
    height: 500px;
    box-shadow: 0 0 3px #aaa;
    border-radius: 4px;
    overflow: hidden;
    /*float: right;*/
    margin: 0.5% auto;
    text-align: center;
    background: #fff;
}

.login > div {
    position: relative;
    top: 18%;
    width: 100%;
}

.login label {
    width: 80%;
    height: 35px;
    font-size: 10pt;
    display: inline-block;
    line-height: 36px;
    text-align: right;
}

.login input {
    width: 80%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    font-family: IRANYekan;
    padding-right: 10px;
    margin-bottom: 10px;
    color: #000;

}
.login input:hover {
    border: 1px solid #aaa !important;

}
.register input:hover {
    border: 1px solid #aaa !important;

}

.login a {
    width: 80%;
    height: 40px;
    margin: 5px;
    display: inline-block;
    text-align: left;
    color: rgba(0, 0, 0, 0.71);
    cursor: pointer;

}

.login a:hover {
    color: rgba(0, 0, 0, 0.9)
}
.login input::placeholder {
    color: #ccc;
}
.register input::placeholder {
    color: #ccc;
}


.confirm-button {
    width: 65% !important;
    height: 44px !important;
    margin: 10px auto;
    display: inline-block;
}

.confirm-button.forget {
    width: 65% !important;
    height: 44px !important;
    margin: 30px auto 10px auto;
    display: inline-block;
}

.confirm-button > button {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    border-radius: 22px;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 2px #aaa;
    cursor: pointer;
    font-size: 11pt;
}

.confirm-button > button:hover {
    border: 1px solid #aaa;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 2px #aaa;
}


.login #register-show {
    width: 65%;
    height: 44px;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 0 2px #aaa;
    cursor: pointer;
    font-size: 11pt;
    border: 1px solid #aaa;
    background-color: #fff;
    color: #000;
}

.login #register-show:hover {
    transform: scale(0.98);
    box-shadow: 0 0 4px #aaa;
}

.register {
    display: none;
    width: 59%;
    height: 500px;
    box-shadow: 0 0 3px #aaa;
    border-radius: 4px;
    overflow: hidden;
    float: right;
    margin: 0.5%;
    text-align: center;
    background: #fff;
}
.register > div {
    position: relative;
    top: 5%;
    width: 100%;
}
.register > div div {
    width: 50%;
    float: right;
}

.register label {
    width: 90%;
    height: 35px;
    font-size: 10pt;
    display: inline-block;
    line-height: 36px;
    text-align: right;
}

.register input {
    width: 90%;
    display: inline-block;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    font-family: IRANYekan;
    padding-right: 10px;
    margin-bottom: 10px;
    color: #000;

}
.register .verify-section {
    width: 100%;
    display: none;
    height: 100px;

}
.verify-section-login {
    width: 100%;
    display: none;
    height: 100px;

}
.verify-code {
    width: 30%;
    display: block;
    margin: 0 auto;
    height: 40px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 14pt;

}
.register .checkbox-register{
    width: 20px;
    height: 20px;
    border-radius: 2px;
    display: block;
    float: right;
    margin-top: 13px;
    margin-right: 10px;
}
.register > div .roles{
    display: block;
    float: right;
}

@media screen and (max-width: 850px){
    #main{

        height: auto;
    }
    .login{
        width: 60%;
    }
    .register{
        width: 90%;
    }
}
@media screen and (max-width: 600px){
    .login{
        width: 80%;
    }
    .register{
        width: 98%;
    }
}
@media screen and (max-width: 480px){
    .login{
        width: 95%;

    }
    .login > div {
        top: 15%;

    }

    .register{
        height: 800px;
    }
    .register > div div {
        width: 98%;
        float: right;
    }
}
@media screen and (max-width: 440px){
    .register .checkbox-register{
        width: 15px;
        height: 15px;

    }
    .register > div .roles{
        font-size: 8pt;
        line-height: 18px;
    }
}
@media screen and (max-width: 360px){

    .register > div .roles{
        font-size: 7pt;
        line-height: 24px;
    }
}

